text.color.red = 255
text.color.green = 255
text.color.blue = 255

button.text.color.red = 255
button.text.color.green = 255
button.text.color.blue = 255
button.background.color.red = 0
button.background.color.green = 0
button.background.color.blue = 0

highlight.color.red = 0
highlight.color.green = 0
highlight.color.blue = 128