powerup.numeffects = 4
powerup.0 = Instant On
powerup.1 = Fade
powerup.2 = Scroll
powerup.3 = Pulse Wave

powerdown.numeffects = 4
powerdown.0 = Instant Off
powerdown.1 = Fade
powerdown.2 = Scroll
powerdown.3 = Pulse Wave

flicker.numeffects = 7
flicker.0 = Solid
flicker.1 = Random Shimmer
flicker.2 = Random Color Swap
flicker.3 = Audio Flicker
flicker.4 = Plasma Flare
flicker.5 = Flame
flicker.6 = Pulse Wave

blaster.numeffects = 2
blaster.0 = Flash
blaster.1 = Local Flash

clash.numeffects = 2
clash.0 = Solid
clash.1 = Flash

lockup.numeffects = 3
lockup.0 = Solid
lockup.1 = Random Color Swap
lockup.2 = Focus Lock

